<p>Movimientos de todas las categorias</p>

<table class = "table" table-striped>
    <thead>
        <th scope = "col">Categoria</th>
        <th scope = "col">Fecha</th>
        <th scope = "col">Cantidad</th>
        <th scope = "col">Descripcion</th>
    </thead>
    <tbody>
        <tr *ngFor = "let item of categorias">
            <td >{{item.categoria}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.cantidad}}</td>
            <td>{{item.descripcion}}</td>
        </tr>
    </tbody>
    <br>
    <div class="form-footer">
       <button (click)="back()" class="btn btn-info btn-block" >
        Back
       </button>
    </div>
</table>