<div class="card text-white bg-dark mb-3" style="max-width: 90rem;" >

    <h1 class="display-1 text-center"> Movimientos Categoria</h1>

              <!-- cabecera -->
              <div class= "container text-white bg  py-9 ">
                    <div class="row">
                        <h6 class="col-4 offset-1">Bienvenido {{usuario}}</h6>
                    </div>
                    <div class="row">
                        <h6 class="col-4 offset-1">Tu saldo es: {{total|currency}} </h6>
                    
                    
    <div class=" container text-white  bg-white  py-2 "  >
          <div class="row">    
       <table class="table">
          <thead class="thead-dark">
          
              <tr >
                    <th scope = "col">Categoria</th>
                    <th scope = "col">Fecha</th>
                    <th scope = "col">Saldo</th>
                    <th scope = "col">Descripcion</th>
                  
            </tr>
          </thead>
          <tbody>
        </tbody>
    
    
      </table> 
           
      <div class="container text-dark" *ngFor = "let mov of movimientos ; let i=index">
          <div class="row" *ngFor = "let dat of mov.movimientos" >
                 <p class="col-3 strong">{{categorias[i].nombre}}</p>
                 <p class="col-3" >{{dat.fecha|date}}</p>
                 <p class="col-3">{{dat.cantidad|currency}}</p>
                 <p class="col-3">{{dat.desc}}</p>
             
             </div>
           </div> 
    </div>
      
      </div>
   
       
      <div class="container">
          <div class="row">
            <div class="col text-center">
                <br>
              <button (click)="regresar()" class="btn btn-secondary cencet   btn-block " >Regresar</button>
              <br>
            </div>
            
          </div>
          
        </div>