
       <hr>
<div class="card border-dark text-light bg-dark mb-3" style="max-width: 90rem;">
          <div class="card-header">
                    <h3 class="form-title"> Sign Up</h3>
          </div>
</div>

<div class="card border-dark  bg-light mb-3" style="max-width: 90rem;">
          <div class="card-body text-primary">
                    <div class="signup-form-container">

          <!-- form start -->
          <form class="col-12 " #frmUsuario="ngForm" [formGroup]="formUsuario"
               (ngSubmit)="guardarUsuario(frmUsuario.value)">

              
               <div class="col-10 form-body col text-center">

                    <div class="form-group">
                         <div class="input-group">
                              <div class="input-group-addon">
                                   <span class="glyphicon glyphicon-user"></span></div>

                              <input name="nombre" #nombre type="text" class="form-control" placeholder="Username"
                                   formControlName="nombre">

                         </div>
                         <span class="help-block" id="error"></span>
                    </div>

                    <div class="form-group">
                         <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                              <input #email name="email" type="text" class="form-control" placeholder="Email"
                                   formControlName="email">
                         </div>
                         <span class="help-block" id="error"></span>
                    </div>

                 

                         <div class="form-group ">
                              <div class="input-group">
                                   <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                   <input name="password" #password type="password" class="form-control"
                                        placeholder="Password" formControlName="password">
                              </div>
                              <span class="help-block" id="error"></span>
                         </div>


                         <div class="form-group">
                              <div class="input-group">
                                   <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                   </div>
                                   <input #total name="total" type="text" class="form-control"
                                        placeholder="Monto inicial de cuenta" formControlName="total">
                              </div>
                              <span class="help-block" id="error"></span>
                         </div>



                    </div>


              

               <div class="row-10  align-items-center">

                    <button type="submit" class="btn btn-success btn-block col-12">
                         <span class="glyphicon glyphicon-log-in"></span> Registrar cuenta
                    </button>

                    <button class="btn btn-secondary btn-block col-12 " [routerLink]="['/']">
                    Regresar
                    </button>

               </div>
        


          </form>

     </div>

</div>
</div>



        