<div class="card text-white bg-dark mb-3" style="max-width: 90rem;" >
<h1 class="display-1 text-center"> Movimientos total</h1>
          <!-- cabecera -->
          <div class= "container text-white bg  py-9 ">
                <div class="row">
                    <h6 class="col-4 offset-1">Bienvenido {{usuario}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-4 offset-1">Tu saldo es: {{total|currency}} </h6>
                
                
<div class="row m-1 container text-white  bg-white  py-2 "  aling = "center"  >
    <div class="col container bg-white text-white py-4" aling = "center">
          
   <table class="table ">
      <thead class="thead-dark">
      
          <tr class="table-primary">
          <th>Fecha</th>
          <th>Cantidad</th>
          <th>Descripcion </th>
        </tr>
      </thead>
      <tbody>
        
        <tr  *ngFor="let mov of movimiento;" >
          <td>  {{mov.fecha | date:'MMMM - dd'}} </td>
          <td>  {{mov.cantidad | currency}}  </td>
          <td>   {{mov.desc}} </td>
        </tr>
</tbody>


  </table> 
  </div>
  </div>
  </div>
   
<div class="container">
    <div class="row">
      <div class="col text-center">
          <br>
        <button (click)="regresar()" class="btn btn-secondary cencet   btn-lg " >Regresar</button>
      </div>
    </div>
  </div>


  