<p>movimientos-total works!</p>


<div class="row m-5"  aling = "center"  >
    <div class="col" aling = "center">
          



        <div class="list-group" style="overflow-y:scroll; height:15em">
            <div  *ngFor="let mov of movimiento;" >
       <ul class="list-group list-group-horizontal-sm text-primary">
           <li class="list-group-item"> {{mov.fecha}}</li>
           <li class="list-group-item"> {{mov.cantidad}}</li>
           <li class="list-group-item">   {{mov.desc}}</li>
       </ul>
    </div>
   </div>
   
    <div class="form-footer">
        <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-log-in"></span> Regresar </button>
   </div>
