
<h1 class="display-1 text-center"> Movimientos total</h1>
          <!-- cabecera -->
          <div class= "container text-white  bg-primary  py-3 ">
                <div class="row">
                    <h6 class="col-4 offset-1">Bienvenido {{usuario}}</h6>
                </div>
                <div class="row">
                    <h6 class="col-4 offset-1">Tu saldo es: {{total|currency}}</h6>
                
<div class="row m-5 container text-white  bg-primary  py-3 "  aling = "center"  >
    <div class="col container bg-warning text-white py-2" aling = "center">
          
        <table class="table ">
            <thead class="thead-light">
            
                <tr class="table-primary">
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Descripcion </th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let mov of movimiento;" >
                <td>  {{mov.fecha | date:'MMMM - dd'}} </td>
                <td>  {{mov.cantidad | currency}}  </td>
                <td>   {{mov.desc}} </td>
              </tr>
</tbody>


        </table>  
        
    </div> 
</div> 
</div>
</div>
        <!-- 
        <div class="list-group" style="overflow-y:scroll; height:10em">
            <div  *ngFor="let mov of movimiento;" ></div>
       <ul class="list-group list-group-horizontal-sm text-primary">
           <li class="list-group-item"> {{mov.fecha| date:'MMMM - dd'}}</li>
           <li class="list-group-item"> {{mov.cantidad}}</li>
           <li class="list-group-item">   {{mov.desc}}</li>
       </ul>
    </div>
   </div>
   --> 


<div class="container">
    <div class="row">
      <div class="col text-center">
          <br>
        <button (click)="regresar()" class="btn btn-secondary cencet   btn-lg " >Regresar</button>
      </div>
    </div>
  </div>